$primary-text-color: #757575;
$title-text-color: #212121;
$light-text-color: #ffffff;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$background-dim-color: rgba(47, 48, 58, 0.8);
$shadow-color: #f5f4fa;
$social-icon-color: #afb1b8;
$footer-social-background: rgba(255, 255, 255, 0.1);
$footer-social-color: #ffffff;
$footer-background: #2f303a;
$project-overlay-color: rgba(33, 150, 243, 0.9);
