.clients-list {
  display: flex;
  & > li {
    border: 1px solid $social-icon-color;
    border-radius: 4px;
    box-sizing: border-box;
    @extend %flex-centered;
    width: 170px;
    height: 90px;
    margin-bottom: 94px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  & > li:hover,
  & > li:focus {
    border: 1px solid $accent-color;
  }
  & > li + li {
    margin-left: 30px;
  }
}

.clients-list > li:hover svg {
  fill: $accent-color;
}
.company-1 {
  width: 44px;
  height: 49px;
  fill: $social-icon-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.company-2 {
  width: 40px;
  height: 52px;
  fill: $social-icon-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.company-3 {
  width: 41px;
  height: 43px;
  fill: $social-icon-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.company-4 {
  padding: 0px;
  width: 80px;
  height: 42px;
  fill: $social-icon-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.company-5 {
  width: 44px;
  height: 49px;
  fill: $social-icon-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.company-6 {
  width: 88px;
  height: 45px;
  fill: $social-icon-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
