.footer-flex {
  display: flex;
  .block {
    display: block;
    margin-top: 45px;
    margin-bottom: 20px;
  }
}

.footer-color {
  background-color: $footer-background;
}
.address {
  font-style: normal;
  line-height: 1.7;
}

.address-link {
  display: block;
  margin-bottom: 9px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.address-text {
  display: block;
  margin-bottom: 9px;
}

.footer-text {
  margin-bottom: 20px;
  padding-top: 57px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.footer-social-icon {
  fill: $footer-social-color;
}
.footer-social-button {
  @extend %flex-centered;
  margin-bottom: 24px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: $footer-social-background;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.footer-flex-address {
  margin-right: 69px;
  margin-bottom: 51px;
}
.footer-flex-sub {
  margin-left: auto;
}
.subscribe-field {
  box-sizing: border-box;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 358px;
  height: 50px;
  background-color: $footer-background;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: none;
}
.subscribe-field::placeholder,
.subscribe-field {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.48px;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-button {
  margin-left: 12px;
  padding: 9px 29px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscribe-button,
.form-order-button {
  display: inline-flex;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  color: $light-text-color;
  background-color: $accent-color;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.96px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}
.subscribe-button::after {
  width: 24px;
  height: 24px;
  content: '';
  background-image: url(../images/icon-send.svg);
  margin-left: 10px;
}
